---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = "Tags";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="text-muted-foreground mb-10">
    Browse all topics and categories covered on blog. Click on a tag to see
    all related articles.
  </p>

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {
      tags.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class="flex flex-col items-center justify-center p-6 border rounded-lg hover:border-primary hover:bg-primary/5 transition-colors"
        >
          <span class="text-lg font-medium">{tag}</span>
          <span class="text-sm text-muted-foreground mt-1">
            {
              allPosts.filter((post: any) => post.data.tags.includes(tag))
                .length
            }{" "}
            articles
          </span>
        </a>
      ))
    }
  </div>
</BaseLayout>
