---
import { CalendarIcon } from "lucide-react";
import { formatDate } from "@/lib/utils";
const { title, slug, pubDate } = Astro.props;
---

<article class="border-b border-zinc-400/30 dark:border-zinc-700/50 last:border-0">
  <a
    href={`/posts/${slug}`}
    class="flex justify-between items-center py-6 group hover:bg-muted/80 dark:hover:bg-muted/20 transition-colors px-2 -mx-2 rounded-md"
  >
    <h2
      class="text-xl font-medium group-hover:text-primary transition-colors pr-4"
    >
      {title}
    </h2>
    <div
      class="text-sm text-muted-foreground whitespace-nowrap flex items-center"
    >
      <CalendarIcon className="h-4 w-4 mr-1 flex-shrink-0" />
      <span>{formatDate(pubDate)}</span>
    </div>
  </a>
</article>
