<nav class="hidden md:flex items-center gap-4">
  <a
    href="/"
    class="px-4 py-2 text-sm font-medium rounded-full hover:bg-muted transition-colors"
  >
    Home
  </a>
  <a
    href="/about"
    class="px-4 py-2 text-sm font-medium rounded-full  hover:bg-muted transition-colors"
  >
    About
  </a>
  <a
    href="/blog"
    class="px-4 py-2 text-sm font-medium rounded-full  hover:bg-muted transition-colors"
  >
    Blog
  </a>
  <a
    href="/tags"
    class="px-4 py-2 text-sm font-medium rounded-full  hover:bg-muted transition-colors"
  >
    Tags
  </a>
</nav>
